.genre{
    font-size: 11px;
    font-weight: 700;
    background-color: #8d8d8d;
    color: #3b3b3b;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
}

.free{
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #3a93ff;
}

.flexWrapper, .releaseWrapper{
    margin-top: 10px;
}

.flexWrapper{
    display: flex;
    justify-content: space-between;
}

.releaseWrapper{
    text-align: left;
}

.publisher{
    text-align: right;
}

.cardFooter{
    width: 100%;
    // margin-left: auto;
    display: flex;
    justify-content: right;
    gap: 5px;
    margin-top: 10px;
}

.title{
    white-space: nowrap;
    font-size: 17px;
}

.description{
    text-align: left;
    margin-top: 10px;
}