.row{
    margin: 0 auto;
    max-width: 1100px;
}

.title{
    text-align: left;
    margin-bottom: 15px;
}

.filters{
    margin-bottom: 15px;
}

.rowUp{
    margin-top: 15px;
}

.pageWrapper{
    margin-top: 20px;
}